html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Noto Sans', sans-serif;
}

.menubutton {
    cursor: pointer;
}

.navbar {
    margin-bottom: 0;
}

.plotting-area {
    padding: 0;
}

.clickable {
    cursor: pointer;
}

.clickable-group {
    cursor: pointer;
}

.clickable-group:hover .clickable-primary,
.clickable-group .clickable-secondary {

    opacity: 1.0;

}

.clickable-primary {
    color: steelblue;
    opacity: 0.8;
}

.clickable-primary:hover {
    opacity: 1.0;
}

.clickable-secondary {
    color: darkgray;
    opacity: 0.8;
}

.clickable-secondary:hover {
    opacity: 1.0;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.col-centered {
    float: none;
    margin: 0 auto;
}