.node-picker .title {

    flex: 1 1 auto;
    min-width: 65px;
    text-align: left;
    font-size: 12px;

}

.node-picker .controller {

    flex: 4 1 auto;
    /*width: calc( 100% - 110px );*/
    text-align: center;

}

.node-picker .controller-no-title {

    flex: 5 1 auto;
    min-width: 65px;
    /*width: calc( 100% - 35px );*/
    text-align: center;

}

.node-picker .extras {

    flex: 1 1 auto;
    min-width: 35px;
    text-align: right;

}

.node-picker .compact {

    width: 50px;
    border: none;
    padding: 0;
    text-align: center;
    box-shadow: none !important;

}

.node-picker .settings-icon {

    width: auto;

}