
._section {
    width: 100%;
    min-height: 30px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

._section ._subsection {

    margin-bottom: 5px;
    padding-bottom: 5px;
    background-color: rgba(188, 208, 232, 0.35);

}

._section ._row {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px 1px 3px 1px;

    -webkit-transition: margin, padding 0.2s ease;
       -moz-transition: margin, padding 0.2s ease;
        -ms-transition: margin, padding 0.2s ease;
         -o-transition: margin, padding 0.2s ease;
            transition: margin, padding 0.2s ease;
}

._section ._row._active {

    margin-top: 5px;
    padding-top: 8px;
    background-color: rgba(188, 208, 232, 0.35);

}

._section ._row > ._col-sm {
    width: 50px;
}

._section ._row > ._col-md {
    width: 75px;
}

._section ._row > ._title {

    /* Set the title properties*/
    flex-basis: auto;
    font-size: 10px;
    text-align: right;
    padding: 0 5px 0 5px;

    /* Vertically align the contents */
    display: inline-flex;
    justify-content: center;
    flex-direction: column;

}

._section ._row > ._item-fill {

    /* Allow this item to fill the remaining width */
    flex-grow: 1;
    padding: 0 5px 0 5px;

    /* Flow contents */
    display: inline-flex;
    justify-content: center;
    font-size: 10px;

}

._section ._row > ._icon-row {

    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 5px 0 5px;

}

._section ._row > ._icon-row > i {

    padding: 0 2px 0 2px;

}

._section input {
    width: 100%;
    height: 24px;
    padding-left: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-size: 10px;
}

._section input:focus {
    outline: 0;
}

._section input.color-selector {

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

._section .color-selector-colorbox {
    width: 24px;
    border: 1px solid lightgray;
    border-left: 0;
    border-radius: 0 3px 3px 0;
    background-color: steelblue;
}

._section ._muted {
    color: #aaaaaa;
}