<div class="form-group form-group-sm form-item form-item-last">
    <label class="col-sm-5 control-label">
        Node:
    </label>
    <div class="col-sm-7 control-content">
        <input id="{{ id }}" class="form-control" type="number" min="1" max="{{ max_nodes }}" value="1">
    </div>
</div>