html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Noto Sans', sans-serif;
}

.maindisplay {
    width: 100%;
    height: 100%;
}

.menubutton {
    cursor: pointer;
}

.navbar {
    margin-bottom: 0;
}

.plot .options {

    padding: 15px 15px 0 15px;

}