<div id="{{ id }}" class="node-picker row vertical-align">
    <div class="title col-sm-3">
        Min/Max:
    </div>
    <div class="title controller filler col-sm-6">
        All Nodes
    </div>
    <div class="extras col-sm-3">
        <i class="fa fa-cog clickable clickable-primary"></i>
        <i id="{{ remove_id }}" class="fa fa-times clickable clickable-primary"></i>
    </div>
</div>