<div id="{{ id }}" class="node-picker vertical-align">
    <div class="title">
        Nodes:
    </div>
    <div class="controller">
        <input id="{{ picker_id }}" class="form-control input-sm" type="text">
    </div>
    <div class="extras">
        <i class="fa fa-cog clickable clickable-primary"></i>
        <i id="{{ remove_id }}" class="fa fa-times clickable clickable-primary"></i>
    </div>
</div>