
.area {
    fill: lightsteelblue;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.dot {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.axis line {
    shape-rendering: crispEdges;
    stroke: #000;
}

.grid line {
    stroke: #777;
    stroke-opacity: 0.65;
}

.grid .minor line {
    stroke-opacity: 0.35;
    stroke-dasharray: 2,2;
}

.grid text {
    display: none;
}

.grid path {
    display: none;
}