
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.lines line {
    stroke: #777;
    stroke-opacity: 0.30;
    shape-rendering: crispEdges;
}

.lines text {
    display: none;
}

.lines path {
    display: none;
}

.grid line {
    stroke: #777;
    stroke-opacity: 0.30;
    shape-rendering: crispEdges;
}

.grid text {
    display: none;
}

.grid path {
    display: none;
}