
.area {
    fill: lightgray;
    fill-opacity: 0.75;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.0px;
}

.dot {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
}
