<div id="{{ id }}" class="plot row">

    <div id="{{ options_id }}" class="col-sm-4 col-md-3 col-lg-2 options">

        <div class="title">
            New Plot<i class="fa fa-bars pull-right clickable-icon"></i>
        </div>

    </div>

    <div id="{{ chart_id }}" class="col-sm-8 col-md-9 col-lg-10 chart">

    </div>

</div>